PROCESS_NAMES=["test"]

// For aggregator
AGGREGATOR_URL=https://aggregator-dev.openfin.co
AGGREGATOR_API_TOKEN=TOKEN_HERE

// For Symphony Load Tests
SYMPHONY_BOT_CERT=PATH/TO/CERT
SYMPHONY_BOT_CERT_PASSWORD=PASSWORD

SYMPHONY_AUTH_URL=https://URL.com
SYMPHONY_POD_URL=https://URL.com
SYMPHONY_AGENT_URL=https://URL.com